:host
  display block

core-animated-pages
  overflow hidden
  .page
    height 100%
    .image, .text
      height 100%
    .text
      padding 0 20px
      font-weight 300
      font-size 30px
      @media(max-width: 500px)
        font-size 20px
    .image
      padding 0 20px
      @media(max-width: 500px)
        display none
      img
        max-width 100%
        width auto/9
        height auto
        vertical-align middle
        border 0
        -ms-interpolation-mode bicubic

.controls
  height 50px
  .control
    width 50px
    height 50px
    .circle
      width 20px
      height 20px
      border-radius 50%
      border 1px solid #777
      cursor pointer
  .core-selected
    .circle
      background-color #999

.flex-2
  flex 2
  @media(max-width: 500px)
    flex 1
.flex-5
  flex 5
  @media(max-width: 500px)
    flex 1